body 
{   
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;

    
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 5px 10pxrgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#contariner
{
    width: 70%;
    padding: 0;
    
}